GROQ_API_KEY=your_key_here
OPENROUTER_API_KEY=your_key_here

GROQ_MODEL=llama-3.1-8b-instant
OPENROUTER_MODEL=google/gemma-3n-e4b-it:free

DATABASE_URL=sqlite:///./data/app.db

#JWT
SECRET_KEY=your_secret_key_here